@import 'https://fonts.googleapis.com/css?family=Lato|Eagle+Lake';

body {
  font-family: Lato, 'helvetica neue';
  font-size: x-large;
  background-color: #e8dcbf;
  color: #333;
}

.choice {
  display: flex;
}

.problem-text {
  font-family: 'Eagle Lake', serif;
  font-size: 1.5em;
}

.presenter img {
  max-width: 200px;
}

.hidden {
  display: none;
  opacity: 0;
  transition: opacity 1s;
}

#edit-problem {
  display: flex;
  flex-direction: column;
}
